{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="LSIT Developments">
	<meta name="Author" content="LSIT Developments">
	<meta name="Keywords" content="LSIT Developments"/>

	<!-- Title -->
	<title>LSIT CLOUD</title>
    <!-- FAVICON -->
	<link rel="icon" href="{% static 'lsitdevelopments/img/brand/favicon.png' %}" type="image/x-icon"/>
	<!-- ICONS CSS -->
	<link href="{% static 'lsitdevelopments/plugins/icons/icons.css' %}" rel="stylesheet">
	<!-- BOOTSTRAP CSS -->
	<link href="{% static 'lsitdevelopments/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<!-- RIGHT-SIDEMENU CSS -->
	<link href="{% static 'lsitdevelopments/plugins/sidebar/sidebar.css' %}" rel="stylesheet">
	<!-- P-SCROLL BAR CSS -->
	<link href="{% static 'lsitdevelopments/plugins/perfect-scrollbar/p-scrollbar.css' %}" rel="stylesheet" />
	<!-- Data table css -->
	<link href="{% static 'lsitdevelopments/plugins/datatable/css/dataTables.bootstrap5.css' %}" rel="stylesheet" />
	<!-- INTERNAL Select2 css -->
	<link href="{% static 'lsitdevelopments/plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
	<!-- INTERNAL Data table css -->
	<link href="{% static 'lsitdevelopments/plugins/datatable/css/buttons.bootstrap5.min.css' %}"  rel="stylesheet">
	<link href="{% static 'lsitdevelopments/plugins/datatable/responsive.bootstrap5.css' %}" rel="stylesheet" />
	<!-- STYLES CSS -->
	<link href="{% static 'lsitdevelopments/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'lsitdevelopments/css/style-dark.css' %}" rel="stylesheet">
	<link href="{% static 'lsitdevelopments/css/style-transparent.css' %}" rel="stylesheet">
	<!-- SKIN-MODES CSS -->
	<link href="{% static 'lsitdevelopments/css/skin-modes.css' %}" rel="stylesheet" />
	<!-- ANIMATION CSS -->
	<link href="{% static 'lsitdevelopments/css/animate.css' %}" rel="stylesheet">
	<!-- SWITCHER CSS -->
	<link href="{% static 'lsitdevelopments/switcher/css/switcher.css' %}" rel="stylesheet"/>
	<link href="{% static 'lsitdevelopments/switcher/demo.css' %}" rel="stylesheet"/>
</head>

	<body class="ltr main-body app sidebar-mini">
		<!-- Loader -->
		<div id="global-loader">
			<img src="{% static 'lsitdevelopments/img/loader.svg' %}" class="loader-img" alt="Loader">
		</div>
		<!-- /Loader -->

		<!-- Page -->
		<div class="page">
			<div>
                <!-- main-header -->
				<div class="main-header side-header sticky nav nav-item">
					<div class=" main-container container-fluid">
						<div class="main-header-left ">
							<div class="responsive-logo">
								<a href="home" class="header-logo">
									<h3 class="mobile-logo logo-1 text-primary"><b>LSIT</b></h3>
									<img src="{% static 'lsitdevelopments/img/brand/logo-white.png' %}" class="mobile-logo dark-logo-1" width="50" alt="logo">
								</a>
							</div>
							<div class="app-sidebar__toggle" data-bs-toggle="sidebar">
								<a class="open-toggle" href="javascript:void(0);"><i class="header-icon fe fe-align-left" ></i></a>
								<a class="close-toggle" href="javascript:void(0);"><i class="header-icon fe fe-x"></i></a>
							</div>
							<div class="logo-horizontal">
								<a href="home" class="header-logo">
									<h3 class="mobile-logo logo-1 text-primary"><b>LSIT</b></h3>
									<img src="{% static 'lsitdevelopments/img/brand/logo-white.png' %}" class="mobile-logo dark-logo-1" width="50" alt="logo">
								</a>
							</div>
							<div class="main-header-center ms-4 d-sm-none d-md-none d-lg-block form-group">
								<input class="form-control" id="search-bar" placeholder="Search..." name="name" type="search" autocomplete="off">
								<button class="btn"><i class="fas fa-search"></i></button>
							</div>
						</div>
						<div class="main-header-right">
							<button class="navbar-toggler navresponsive-toggler d-md-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon fe fe-more-vertical "></span>
							</button>
							<div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
								<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
									<ul class="nav nav-item header-icons navbar-nav-right ms-auto">
										<li class="dropdown nav-item">
											<a class="new nav-link theme-layout nav-link-bg layout-setting" >
												<span class="dark-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24" height="24" viewBox="0 0 24 24"><path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z"/></svg></span>
												<span class="light-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24" height="24" viewBox="0 0 24 24"><path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z"/></svg></span>
											</a>
										</li>
										<li class="dropdown main-header-message right-toggle">
											<a class="new nav-link nav-link pe-0" data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right">
												<svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24" height="24" viewBox="0 0 24 24"><path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"/></svg>
											</a>
										</li>
										<li class="nav-link search-icon d-lg-none d-block">
											<form class="navbar-form" role="search">
												<div class="input-group">
													<input type="text" class="form-control" placeholder="Search" name="name" autocomplete="off">
													<span class="input-group-btn">
														<button type="reset" class="btn btn-default">
															<i class="fas fa-times"></i>
														</button>
														<button type="submit" class="btn btn-default nav-link resp-btn">
															<svg xmlns="http://www.w3.org/2000/svg" height="24px" class="header-icon-svgs" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
														</button>
													</span>
												</div>
											</form>
										</li>
										<li class="dropdown main-profile-menu nav nav-item nav-link ps-lg-2">
											<a class="new nav-link profile-user d-flex" href="#" data-bs-toggle="dropdown"><img alt="" src="{% static 'lsitdevelopments/img/brand/logo-white.png' %}" class=""></a>
											<div class="dropdown-menu">
												<div class="menu-header-content p-3 border-bottom">
													<div class="d-flex wd-100p">
														<div class="main-img-user"><img alt="" src="{% static 'lsitdevelopments/img/brand/logo-white.png' %}" class=""></div>
														<div class="ms-3 my-auto">
															<h6 class="tx-15 font-weight-semibold mb-0">ADMIN</h6><span class="dropdown-title-text subtext op-6  tx-12">LSIT Developments</span>
														</div>
													</div>
												</div>
												<a class="dropdown-item" href="profile.html"><i class="far fa-user-circle"></i>Profile</a>
												<a class="dropdown-item" href="chat.html"><i class="far fa-smile"></i> chat</a>
												<a class="dropdown-item" href="mail-read.html"><i class="far fa-envelope "></i>Inbox</a>
												<a class="dropdown-item" href="mail.html"><i class="far fa-comment-dots"></i>Messages</a>
												<a class="dropdown-item" href="mail-settings.html"><i class="far fa-sun"></i>  Settings</a>
												<a class="dropdown-item" href="login" onclick="logout()"><i class="far fa-arrow-alt-circle-left"></i> Sign Out</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /main-header -->

                <!-- main-sidebar -->
				<div class="sticky">
					<aside class="app-sidebar">
						<div class="main-sidebar-header active">
							<a class="header-logo active" href="Home">
								<h5 class="main-logo desktop-logo text-primary"><b>LSIT CLOUD</b></h5>
								<img src="{% static 'lsitdevelopments/img/brand/logo-white.png' %}" class="main-logo desktop-dark" width="50" alt="logo">
								<img src="{% static 'lsitdevelopments/img/brand/favicon.png' %}" class="main-logo mobile-logo" width="150" alt="logo">
								<img src="{% static 'lsitdevelopments/img/brand/favicon.png' %}" class="main-logo mobile-dark" width="150" alt="logo">
							</a>
						</div>
						<div class="main-sidemenu">
							<div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
							<ul class="side-menu">
								<li class="side-item side-item-category">Menu</li>
								<li class="slide">
									<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg"  class="side-menu__icon" width="24" height="24" viewBox="0 0 24 24"><path d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586 6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"/></svg><span class="side-menu__label">Dashboard</span><i class="angle fe fe-chevron-right"></i></a>
									<ul class="slide-menu">
										<li class="side-menu__label1"><a href="javascript:void(0);">Dashboards</a></li>
										<li><a class="slide-item" href="home">Dashboard</a></li>
									</ul>
								</li>
								<li class="slide">
									<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg"  class="side-menu__icon" width="24" height="24" viewBox="0 0 24 24"><path d="M20 17V7c0-2.168-3.663-4-8-4S4 4.832 4 7v10c0 2.168 3.663 4 8 4s8-1.832 8-4zM12 5c3.691 0 5.931 1.507 6 1.994C17.931 7.493 15.691 9 12 9S6.069 7.493 6 7.006C6.069 6.507 8.309 5 12 5zM6 9.607C7.479 10.454 9.637 11 12 11s4.521-.546 6-1.393v2.387c-.069.499-2.309 2.006-6 2.006s-5.931-1.507-6-2V9.607zM6 17v-2.393C7.479 15.454 9.637 16 12 16s4.521-.546 6-1.393v2.387c-.069.499-2.309 2.006-6 2.006s-5.931-1.507-6-2z"/></svg><span class="side-menu__label">LSDB</span><i class="angle fe fe-chevron-right"></i></a>
									<ul class="slide-menu">
										<li class="side-menu__label1"><a href="javascript:void(0);">LSDB</a></li>
										<li><a class="slide-item" href="lsdbtables">Tables</a></li>
										<li><a class="slide-item" href="lsdbapi">API Reference</a></li>
									</ul>
								</li>
							</ul>
							<div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/></svg></div>
						</div>
					</aside>
				</div>
				<!-- main-sidebar -->
			</div>
			
			<!-- main-content -->
			<div class="main-content app-content">
				<!-- container -->
				<div class="main-container container-fluid">
					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div class="left-content">
						  <span class="main-content-title mg-b-0 mg-b-lg-1">LSDB</span>
						</div>
						<div class="justify-content-center mt-2">
							<a href="lsdbtableitems?tablename={{ tablename }}"><button type="button" class="btn btn-primary" >
								<i class="fe fe-plus me-1"></i> Create Item
							</button></a>
						</div>
					</div>
					<!-- /breadcrumb -->

					<div class="row row-sm">
						<div class="col-lg-12">
							<div class="card custom-card">
								<div class="card-body">
									<div>
										<h6 class="main-content-label mb-1">Table Data</h6>
									</div>
									<div class="table-responsive">
										{{ tableitems|safe }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Row -->
				</div>
				<!-- Container closed -->
			</div>
			<!-- main-content closed -->

            <!-- Sidebar-right-->
			<div class="sidebar sidebar-right sidebar-animate">
				<div class="panel panel-primary card mb-0 box-shadow">
					<div class="tab-menu-heading card-img-top-1 border-0 p-3">
						<div class="card-title mb-0">Notifications</div>
						<div class="card-options ms-auto">
							<a href="javascript:void(0);" class="sidebar-remove"><i class="fe fe-x"></i></a>
						</div>
					</div>
					<div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
						<div class="tabs-menu ">
							<!-- Tabs -->
							<ul class="nav panel-tabs">
								<li class=""><a href="#side1" class="active" data-bs-toggle="tab"><svg xmlns="http://www.w3.org/2000/svg"  class="side-menu__icon" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/></svg> Chat</a></li>
								<li><a href="#side2" data-bs-toggle="tab"><svg xmlns="http://www.w3.org/2000/svg"  class="side-menu__icon" width="24" height="24" viewBox="0 0 24 24"><path d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm11-6h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 6h-4V5h4v4zm-9 4H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm-1 6H5v-4h4v4zm8-6c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm0 6c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z"/></svg> Notifications</a></li>
								<li><a href="#side3" data-bs-toggle="tab"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  class="side-menu__icon"  height="24" version="1.1" width="24"  viewBox="0 0 24 24"><path d="M12,2C6.48,2 2,6.48 2,12C2,17.52 6.48,22 12,22C17.52,22 22,17.52 22,12C22,6.48 17.52,2 12,2M7.07,18.28C7.5,17.38 10.12,16.5 12,16.5C13.88,16.5 16.5,17.38 16.93,18.28C15.57,19.36 13.86,20 12,20C10.14,20 8.43,19.36 7.07,18.28M18.36,16.83C16.93,15.09 13.46,14.5 12,14.5C10.54,14.5 7.07,15.09 5.64,16.83C4.62,15.5 4,13.82 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,13.82 19.38,15.5 18.36,16.83M12,6C10.06,6 8.5,7.56 8.5,9.5C8.5,11.44 10.06,13 12,13C13.94,13 15.5,11.44 15.5,9.5C15.5,7.56 13.94,6 12,6M12,11C11.17,11 10.5,10.33 10.5,9.5C10.5,8.67 11.17,8 12,8C12.83,8 13.5,8.67 13.5,9.5C13.5,10.33 12.83,11 12,11Z" /></svg> Friends</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane active " id="side1">
								
							</div>
							<div class="tab-pane  " id="side2">
								
							</div>
							<div class="tab-pane  " id="side3">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/Sidebar-right-->

			<!-- Basic modal -->
			<div class="modal fade" id="modaldemo1">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-content-demo">
						<div class="modal-header">
							<h6 class="modal-title">Create Table</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<div class="card  box-shadow-0 ">
								<div class="card-header">
									<h4 class="card-title mb-2">Table Details</h4>
									<p class="mb-2">LSDB is a schemaless database that requires only a table name and a primary key when you create the table.</p>
								</div>
								<div class="card-body pt-0">
									<form>
										<div class="form-group">
											<label for="exampleInputEmail1" class="main-content-label">Table Name</label>
											<p class="mb-2">This will be used to identify your table.</p>
											<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name for table">
											<p class="mb-2">Between 3 and 255 characters, containing only letters, numbers, underscores (_), hyphens (-), and periods (.).</p>
										</div>
										<div class="form-group">
											<label for="exampleInputEmail1" class="main-content-label">Primary Key</label>
											<p class="mb-2">This will be used to retrieve items from your table.</p>
											<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Primary key name">
											<p class="mb-2">1 to 255 characters and case sensitive.</p>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn ripple btn-primary" type="button">Create Table</button>
							<button class="btn ripple btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- End Basic modal -->
            
            <!-- Footer opened -->
			<div class="main-footer">
				<div class="container-fluid pd-t-0-f ht-100p">
					 Copyright © 2025 <a href="https://techmark.solutions/" class="text-primary">TechMark Solutions</a> All rights reserved
				</div>
			</div>
			<!-- Footer closed -->
		</div>
		<!-- End Page -->

        <!-- BACK-TO-TOP -->
		<a href="#top" id="back-to-top"><i class="las la-arrow-up"></i></a>
		<script>const default_theme = "{{ default_theme }}";</script>
		<!-- JQUERY JS -->
		<script src="{% static 'lsitdevelopments/plugins/jquery/jquery.min.js' %}"></script>
		<!-- BOOTSTRAP JS -->
		<script src="{% static 'lsitdevelopments/plugins/bootstrap/js/popper.min.js' %}"></script>
		<script src="{% static 'lsitdevelopments/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- MOMENT JS -->
		<script src="{% static 'lsitdevelopments/plugins/moment/moment.js' %}"></script>
		<!-- P-SCROLL JS -->
		<script src="{% static 'lsitdevelopments/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
		<!-- SIDEBAR JS -->
		<script src="{% static 'lsitdevelopments/plugins/side-menu/sidemenu.js' %}"></script>
		<!-- Internal Data tables -->
		<script src="{% static 'lsitdevelopments/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'lsitdevelopments/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
		<script src="{% static 'lsitdevelopments/plugins/datatable/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'lsitdevelopments/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
		<script src="{% static 'lsitdevelopments/plugins/datatable/js/buttons.bootstrap5.min.js' %}"></script>
		<script src="{% static 'lsitdevelopments/plugins/datatable/responsive.bootstrap5.min.js' %}"></script>
		<script src="{% static 'lsitdevelopments/js/table-data.js' %}"></script>
		<!-- INTERNAL Select2 js -->
		<script src="{% static 'lsitdevelopments/plugins/select2/js/select2.full.min.js' %}"></script>
		<!-- STICKY JS -->
		<script src="{% static 'lsitdevelopments/js/sticky.js' %}"></script>
		<!-- RIGHT-SIDEBAR JS -->
		<script src="{% static 'lsitdevelopments/plugins/sidebar/sidebar.js' %}"></script>
		<script src="{% static 'lsitdevelopments/plugins/sidebar/sidebar-custom.js' %}"></script>
		<!-- EVA-ICONS JS -->
		<script src="{% static 'lsitdevelopments/plugins/eva-icons/eva-icons.min.js' %}"></script>
		<!-- THEME-COLOR JS -->
        <script src="{% static 'lsitdevelopments/switcher/js/themes.js' %}"></script>
		<script src="{% static 'lsitdevelopments/js/themecolor.js' %}"></script>
		<!-- CUSTOM JS -->
		<script src="{% static 'lsitdevelopments/js/custom.js' %}"></script>
		<script src="{% static 'lsitcloud/auth.js' %}"></script>
		<script src="{% static 'lsitcloud/lsdb.js' %}"></script>
    </body>
</html>