{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="LSIT Developments" />
	<meta name="author" content="LSIT Developments" />
	<meta name="robots" content="LSIT Developments" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="LSIT Developments" />
	<meta property="og:title" content="LSIT Developments" />
	<meta property="og:description" content="LSIT Developments" />
	<meta property="og:image" content="../../../vora.dexignlab.com/node/social-image.png" />
	<meta name="format-detection" content="telephone=no">

	<!-- PAGE TITLE HERE -->
	<title>TechMark Solutions</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'techmark/images/logo.png' %}">
	<link href="{% static 'techmark/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'techmark/vendor/chartist/css/chartist.min.css' %}">
	<!-- Vectormap -->
	<link href="{% static 'techmark/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">

	<!-- Plugins css Ends-->
	<link href="{% static 'techmark/css/style.css' %}" rel="stylesheet">
</head>

<body>
	<!--****  Preloader start *******-->
	<div id="preloader">
		<div class="sk-three-bounce">
			 <div class="sk-child sk-bounce1"></div>
			 <div class="sk-child sk-bounce2"></div>
			 <div class="sk-child sk-bounce3"></div>
		</div>
  </div>
	<!--***** Preloader end *******-->

	<div id="main-wrapper">
		<!--**** Nav header start *******-->
		<div class="nav-header">
      <a href="index.html" class="brand-logo">
        <div class="logo-abbr">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="160" height="60" viewBox="0 0 200 100" preserveAspectRatio="xMidYMid meet">
            <g fill="none" stroke="none">
              <!-- Blue "T" -->
              <text x="-25" y="70" font-family="Arial, sans-serif" font-size="65" font-weight="bold" fill="#00a8ff">T</text>
              <!-- Green "M" -->
              <text x="18" y="70" font-family="Arial, sans-serif" font-size="65" font-weight="bold" fill="#4caf50">M</text>
              <!-- Green underline -->
            </g>
          </svg>
        </div>
      </a>
      <div class="nav-control">
        <div class="hamburger">
          <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
      </div>
    </div>
		<!--**** Nav header end  ********-->

		<!--******** Header start **********-->
		<div class="header">
  <div class="header-content">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
        <div class="header-left">
          <div class="dashboard_bar"> Dashboard </div>
        </div>
        <ul class="navbar-nav header-right">
          <li class="nav-item">
            <div class="input-group search-area d-lg-inline-flex d-none">
              <div class="input-group-append">
                <span class="input-group-text">
                  <a href="javascript:void(0)">
                    <i class="flaticon-381-search-2"></i>
                  </a>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search here...">
            </div>
          </li>
          <li class="nav-item dropdown header-profile">
            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown">
              <img src="{% static 'techmark/images/profile/17.jpg' %}" width="20" alt="" />
              <div class="header-info">
                <span class="text-black">Lalit Sharma</span>
                <p class="fs-12 mb-0">user</p>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="app-profile.html" class="dropdown-item ai-icon">
                <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <span class="ms-2">Profile </span>
              </a>
              <a class="dropdown-item ai-icon sidebar-right-trigger wave-effect wave-effect-x" data-bs-toggle="tooltip" data-placement="right" data-original-title="Change Layout" href="javascript:void(0);">
                <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                  <polyline points="22,6 12,13 2,6"></polyline>
                </svg>
                <span class="ms-2">Theam </span>
              </a>
              <a href="techmarklogin" class="dropdown-item ai-icon">
                <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                  <polyline points="16 17 21 12 16 7"></polyline>
                  <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                <span class="ms-2">Logout </span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
		<!--******* Header end *************-->

		<!--******* Sidebar start **********-->
		<div class="dlabnav">
  <div class="dlabnav-scroll">
    <ul class="metismenu" id="menu">
      <li>
        <a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
          <i class="flaticon-381-networking"></i>
          <span class="nav-text">Dashboard</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="index.html">Dashboard</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="copyright">
      <p>
        <strong>TechMark Solutions</strong> © 2024 All Rights Reserved
      </p>
    </div>
  </div>
</div>

		<!--****** Footer start *******-->
		
		<div class="footer">
  <div class="copyright">
      <p>Copyright © Designed &amp; Developed by <a href="http://techmark.solutions/" target="_blank">Techmark Solutions</a> <span class="current-year">2024</span></p>
  </div>
</div>
		
		<!--***** Footer end ********-->

	</div>
    <!--**** Scripts ***********-->
    <script src="{% static 'techmark/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'techmark/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <!-- Chart piety plugin files -->
    <script src="{% static 'techmark/vendor/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'techmark/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'techmark/js/custom.min.js' %}"></script>
    <script src="{% static 'techmark/js/dlabnav-init.js' %}"></script>
    <!-- Plugins JS Ends-->
    <script src="{% static 'techmark/js/styleSwitcher.js' %}"></script>
</body>
</html>