{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Description" content="LSIT Developments">
		<meta name="Author" content="LSIT Developments">
		<meta name="Keywords" content="LSIT Developments"/>

		<!-- Title -->
		<title>LSIT Developments</title>
		<!-- FAVICON -->
		<link rel="icon" href="{% static 'lsitdevelopments/img/brand/logo-white.png' %}" type="image/x-icon"/>
		<!-- STYLES CSS -->
		<link href="{% static 'lsitdevelopments/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'lsitdevelopments/css/style-dark.css' %}" rel="stylesheet">
		<link href="{% static 'lsitdevelopments/css/style-transparent.css' %}" rel="stylesheet">
    </head>
	<body class="ltr error-page1">
	    <div class="bg-light">
            <!-- Loader -->
            <div id="global-loader">
                <img src="{% static 'lsitdevelopments/img/loader.svg' %}" class="loader-img" alt="Loader">
            </div>
            <!-- /Loader -->
            <div class="square-box">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="page">
                <div class="page-single">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 col-xs-10 card-sigin-main mx-auto my-auto py-45 justify-content-center">
                                <div class="card-sigin mt-5 mt-md-0">
                                    <!-- Demo content-->
                                    <div class="main-card-signin d-md-flex">
                                        <div class="wd-100p">
                                            <div class="">
                                                <div class="main-signup-header">
                                                    <h2 class="font-weight-bold d-flex mb-4 justify-content-center">ADMIN LOGIN</h2>
                                                    <h6 class="font-weight-semibold d-flex mb-4 justify-content-center">Please Signin to continue.</h6>
                                                    <div class="panel panel-primary">
                                                    <div class=" tab-menu-heading mb-2 border-bottom-0">
                                                        <div class="tabs-menu1">
                                                            <!--<ul class="nav panel-tabs">
                                                                <li class="me-2"><a href="#tab5" class="active" data-bs-toggle="tab">Email</a></li>
                                                                <li><a href="#tab6" data-bs-toggle="tab" class="">Mobile no</a></li>
                                                            </ul>-->
                                                        </div>
                                                    </div>
                                                    <div class="panel-body tabs-menu-body border-0 p-3">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab5">
                                                                <form id="loginForm" action="{% url 'signin' %}" method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label>Email</label> <input class="form-control" name="email" id="email" placeholder="Enter your email" type="text">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Password</label> <input class="form-control" name="password" id="password" placeholder="Enter your password" type="password">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                                                    <p class="text-center mt-3">{{ message }}</p>
                                                                    <!--<div class="mt-4 d-flex mx-auto text-center justify-content-center mb-2">
                                                                        <button class="btn btn-icon btn-facebook me-3" type="button">
                                                                            <span class="btn-inner--icon"> <i class="bx bxl-facebook tx-18 tx-prime"></i> </span>
                                                                        </button>
                                                                        <button class="btn btn-icon me-3" type="button">
                                                                            <span class="btn-inner--icon"> <i class="bx bxl-twitter tx-18 tx-prime"></i> </span>
                                                                        </button>
                                                                        <button class="btn btn-icon me-3" type="button">
                                                                            <span class="btn-inner--icon"> <i class="bx bxl-linkedin tx-18 tx-prime"></i> </span>
                                                                        </button>
                                                                        <button class="btn  btn-icon me-3" type="button">
                                                                            <span class="btn-inner--icon"> <i class="bx bxl-instagram tx-18 tx-prime"></i> </span>
                                                                        </button>
                                                                    </div>-->
                                                                </form>
                                                            </div>
                                                            <div class="tab-pane" id="tab6">
                                                                <div id="mobile-num" class="wrap-input100 validate-input input-group mb-2">
                                                                    <a href="javascript:void(0);" class="input-group-text bg-white text-muted">
                                                                        <span>+91</span>
                                                                    </a>
                                                                    <input class="input100 form-control" type="mobile" placeholder="Mobile">
                                                                </div>
                                                                <div id="login-otp" class="justify-content-around mb-4">
                                                                    <input class="form-control  text-center me-2" id="txt1" maxlength="1">
                                                                    <input class="form-control  text-center me-2" id="txt2" maxlength="1">
                                                                    <input class="form-control  text-center me-2" id="txt3" maxlength="1">
                                                                    <input class="form-control  text-center" id="txt4" maxlength="1">
                                                                </div>
                                                                <span>Note : Login with registered mobile number to generate OTP.</span>
                                                                <div class="container-login100-form-btn mt-3">
                                                                    <a href="javascript:void(0);" class="btn login100-form-btn btn-primary" id="generate-otp">Proceed</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="main-signin-footer text-center mt-3">
                                                        <p><a href="admin" class="mb-3">LSIT Developments</a></p>
                                                    </div>
                                                </div><hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<script>const default_theme = "{{ default_theme }}";</script>
		<!-- JQUERY JS -->
		<script src="{% static 'lsitdevelopments/plugins/jquery/jquery.min.js' %}"></script>
		<!-- BOOTSTRAP JS -->
		<script src="{% static 'lsitdevelopments/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- THEME-COLOR JS -->
        <script src="{% static 'lsitdevelopments/switcher/js/themes.js' %}"></script>
        <script src="{% static 'lsitdevelopments/js/themecolor.js' %}"></script>
		<!-- CUSTOM JS -->
		<script src="{% static 'lsitdevelopments/js/custom.js' %}"></script>
    </body>
</html>