.jse--output{
	position: relative;
	padding: 0;
}

.jse--output .jse--row{
	position: relative;
	margin: 0px;
	line-height: 32px;
	margin-top: 15px;
}

.jse--output .jse--delete{
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	font-size: 1em;
	cursor: pointer;
}

.jse--output .jse--row.jse--add .jse--plus{
	font-size: 1em;
	padding-left: 50px !important;
	cursor: pointer;
	border: none;
	background-color: transparent;
	margin-left: 10px;
	padding: 0 !important;
	width: 30px;
	height: 30px;
}

.jse--output input{
	border: none;
	margin: 0;
	line-height: 30px;
	height: 35px;
	padding: 0 15px;
	border-radius: 20px;
}

.jse--typeof{
 	margin: 2px 2px;
}

.jse--output input.jse--key{
	font-weight: bold;
}

.jse--output input.jse--value{
	font-style: italic;
}

.jse--output .jse--row-object > .jse--row,
.jse--output .jse--row--array > .jse--row{
	padding-left: 18px;
	margin-left: 18px;
	border-left: 1px dotted #ccc;
}